/** document body */
body {
    /* background aplikasi warna abu2 */
    background: #f8f9fa;
}
body, p, .text {
    /* ukuran font default */
    font-size: 14px;
}

/** header */
#header {
    /* jarak padding header 10px vertical, 0px horizontal */
	padding: 10px 0px;
}

/** content body (dibawah header) */
#main-container {
    /* tinggi minimal content body aplikasi */
	min-height: 500px;
}

/** link menu sidebar kiri */
#menu .nav-link small {
    /* Warna hitam pudar, untuk link menu kategori samping kiri */
	color: #777;
}
#menu .nav-link.active small {
    /* Warna putih, untuk link menu kategori samping kiri yang sedang aktif */
	color: #fff;
}

/** Produk Item */
.product {
    /* warna border tampilan daftar produk, pada setiap itemnya */
	border-color: #fff;
}
.product:hover {
    /* warna border tampilan daftar produk, pada setiap itemnya, jika di-hover (mouse ditaruh di atas produk) */
	border: solid 1px #ccc;
}
/** Tombol 'tambah ke dalam cart' */
.product .cart-btn {
    /* memposisikan letak button container (tambah ke dalam cart) ke paling bawah (relatif terhadap item produk) */
	bottom: 0px;
    /* lebar button container dimaksimumkan sampai 100% */
    width: 100%;
}
.product .cart-btn .btn {
    /* lebar button dimaksimumkan sampai 100% */
    width: 100%;
    /* memposisikan tulisan ke tengah pada button */
    text-align: center;
    /* menyembunyikan tombol */
    display: none;
}
.product:hover .cart-btn .btn {
    /* menampilkan tombol saat hover (mouse ditaruh di atas produk) */
    display: block;
}
/** Tampilan Nama Produk pada item produk */
.product .product-name {
    /* warna hitam pudar */
    color: #777;
    /* menghilangkan dekorasi text (seperti: garis bawah) */
    text-decoration: none;
    /* jarak padding 5px vertikal, 0px horizontal */
    padding: 5px 0px;
    /* mengatur lebar nama produk agar memenuhi element parentnya (mirip seperti width: 100%) */
    display: block;
    /* mengatur tinggi baris nama produk sepanjang 12px */
    line-height: 12px;
}
.product .product-name:hover {
    /* mengubah warna menjadi hitam pada nama produk saat hover */
    color: #444;
}
.product .img-container {
    /* diperlukan untuk display table-cell */
    display: table;
    width: 100%;
}
.product .img-canvas {
    /* tinggi gambar produk */
    height: 200px;
    /* memotong gambar yang keluar batas*/
    overflow: hidden;
    /* diperlukan untuk vertical-align middle */
    display: table-cell;
    /* mengatur posisi gambar agar di tengah secara vertikal */
    vertical-align: middle;
    /* mengatur posisi gambar agar di tengah secara horizontal */
    text-align: center;
    width: 100%;
}
.product .img-canvas img {
    /* mengatur ukuran gambar, agar tidak melebihi batas */
    max-width: 100%;
    max-height: 100%;
}